{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "browsers": "defaults",
          "node": "10.16.0"
        }
      }
    ],
    "@babel/react"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "babel-plugin-styled-components",
    "istanbul",
    "babel-plugin-react-docgen",
  ]
}
