{
  "all": true,
  "check-coverage": true,
  "per-file": true,
  "lines": 99,
  "statements": 99,
  "functions": 99,
  "branches": 99,
  "extension": [
    ".js",
    ".jsx"
  ],
  "exclude": [
    ".nyc_output/*",
    ".storybook/*",
    "dist/*",
    "node_modules/*",
    "src/*/stories.jsx",
    "src/index.js",
    "src/Theme.js",
    "tests/*",
    ".eslintrc.js",
    "StorybookTheme.js",
    "webpack.*.js"
  ],
  "extends": "@istanbuljs/nyc-config-babel"
}
